<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
    </head>
    <body>

        <h1>{{ date_time }}</h1>

        <table>{{ table_content }}</table>

    </body>
</html>